{% extends 'dashboard/base.html'%}
{% load static %}
{% block content%}
<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <!-- Page-Header-->
        <div class="page-header">
            <h1 class="page-title">Contact</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">contact</li>
            </ol>
        </div>
        <!-- /Page-Header-->

        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="border-0">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-51">
                                <div id="profile-log-switch">
                                    <div class="media-heading">
                                        <h5><strong>Contact Information</strong></h5>
                                    </div>
                                    <div class="table-responsive ">
                                        <table class="table row table-borderless">
                                            <tbody class="col-lg-12 col-xl-6 p-0">
                                                <tr>
                                                    <td><strong>Site Name :</strong> Rubin Carmody</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Title Tag :</strong> USA</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Contact Us :</strong> English, German, Spanish.</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Map Url:</strong> English, German, Spanish.</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Email:</strong> English, German, Spanish.</td>
                                                </tr>
                                            </tbody>
                                            <tbody class="col-lg-12 col-xl-6 p-0">
                                                <tr>
                                                    <td><strong>Location Heading:</strong>dashr.com</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Location Text:</strong> georgemestayer@dashr.com</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Location SubText :</strong> +125 254 3562 </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Phone Number :</strong> +125 254 3562 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row profie-img">
                                        <div class="col-md-12 text-justify">
                                            <div class="media-heading">
                                                <h5><strong>Page Title</strong></h5>
                                            </div>
                                            <p>
                                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</p>
                                            <p class="mb-0">because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter but because those who do not know how to pursue consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-61">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <img class="img-fluid rounded" src="../assets/images/photos/8.jpg " alt="banner image">
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <img class="img-fluid rounded" src="../assets/images/photos/10.jpg" alt="banner image ">
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <img class="img-fluid rounded" src="../assets/images/photos/11.jpg" alt="banner image ">
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <img class="img-fluid rounded " src="../assets/images/photos/12.jpg" alt="banner image ">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-71">
                                <div class="wideget-user-followers">
                                    <div class="media m-0 mt-0 ">
                                        <img class="avatar brround avatar-md mr-3" src="../assets/images/faces/male/18.jpg" alt="avatar-img">
                                        <div class="media-body">
                                            <a href="" class="text-default font-weight-semibold">John Paige</a>
                                            <p class="text-muted ">johan@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="media mt-2 ">
                                        <span class="avatar cover-image avatar-md brround bg-pink mr-3">LQ</span>
                                        <div class="media-body">
                                            <a href="" class="text-default font-weight-semibold">Lillian Quinn</a>
                                            <p class="text-muted">lilliangore</p>
                                        </div>
                                    </div>
                                    <div class="media mt-2 ">
                                        <span class="avatar cover-image avatar-md brround mr-3">IH</span>
                                        <div class="media-body">
                                            <a href="" class="text-default font-weight-semibold">Irene Harris</a>
                                            <p class="text-muted">ireneharris@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="media mt-2 ">
                                        <img class="avatar brround avatar-md mr-3" src="../assets/images/faces/female/22.jpg" alt="avatar-img">
                                        <div class="media-body">
                                            <a href="" class="text-default font-weight-semibold">Harry Fisher</a>
                                            <p class="text-muted mb-0">harryuqt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for testimonial in testimonials %}
            <div class="col-lg-3">
                <div class="card card-profile cover-image "  data-image-src="{% static "dashboard/images/photos/gradient3.jpg"%}">
                    <div class="card-body text-center">
                        <img class="card-profile-img" src={{testimonial.image.url}} alt="img">
                        <h3 class="mb-1 text-white">{{testimonial.name}}</h3>
                        <p class="mb-2 text-white">{{testimonial.companyName}}</p>
                        <p class="mb-2 text-black">{{testimonial.testimony}}</p>
                        <a href="{% url 'delete_testimonial' pk=testimonial.id%}" class="btn btn-primary text-white btn-sm mt-2">
                            <span class="fa fa-trash"></span> Delete
                        </a>
                        <a href="{% url 'update_testimonials' pk=testimonial.id%} " class="btn btn-success btn-sm mt-2"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Testimony</a>
                    </div>
                </div>
              
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}