{% extends 'dashboard/base.html'%}
{% load static %}
{% block content%}
<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <!-- Page-Header-->
        <div class="page-header">
            <h1 class="page-title">Comments</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">comments</li>
            </ol>
        </div>
        <!-- /Page-Header-->
        <form method='post'>{% csrf_token %}
            <p>Are you sure you want to delete "{{comments.name}}"</p>
            <p>This action cannot be undone</p>
            <input type="submit" class="btn btn-warning" value="Confirm" />
            <a href="{% url 'view_comments' %}"  class="btn btn-danger">Cancel</a>
        </form>
        </div>

    </div>
</div>
{% endblock %}