{% extends 'dashboard/base.html'%}
{% load static %}
{% block content%}
<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <!-- Page-Header-->
        <div class="page-header">
            <h1 class="page-title">Comments</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">comments</li>
            </ol>
        </div>
        <!-- /Page-Header-->
        <form method='post'>{% csrf_token %}
            <p>Are you sure you want to delete "{{comments.name}}"</p>
            <p>This action cannot be undone</p>
            <input type="submit" class="btn btn-warning" value="Confirm" />
            <a href="{% url 'view_comments' %}"  class="btn btn-danger">Cancel</a>
        </form>

        {% comment %} <div class="row">
            {% for comment in comments %}
            <div class="col-md-12 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ comment.name }}</h3>
                        <div class="card-options">
                            <label class="custom-switch m-0">
                                <input type="checkbox" value="{{ comment.active }}" class="custom-switch-input" checked>
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ comment.body }}
                        <small class="text-muted">
                            <cite title="Source Title">- {{ comment.created_on }}</cite>
                        </small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="{% url 'delete_comment' pk=comment.id %}" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-trash"></i></a>
                        <a href="{% url 'update_comment' pk=comment.id %}" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %} {% endcomment %}
        </div>

    </div>
</div>
{% endblock %}