{% extends 'base.html'%}

{% load static %}

{% block content %}
<!--App-Content-->
<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <!-- Page-Header-->
        <div class="page-header">
            <h4 class="page-title">Dashboard 01</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
            </ol>
        </div>
        <!-- /Page-Header-->

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Total Properties</h3>
                        <div class="card-options"> <a class="btn btn-sm btn-primary" href="#">View</a> </div>
                    </div>
                    <div class="card-body ">
                        <h2 class="text-dark  mt-0 font-weight-bold">4,657</h2>
                        <div class="progress progress-sm mt-0 mb-2">
                            <div class="progress-bar bg-primary w-75" role="progressbar"></div>
                        </div>
                        <div class=""><i class="fa fa-caret-up text-green"></i>10% than last year</div>
                    </div>
                </div>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Total Agents</h3>
                        <div class="card-options"> <a class="btn btn-sm btn-secondary" href="#">View</a> </div>
                    </div>
                    <div class="card-body ">
                        <h2 class="text-dark  mt-0 font-weight-bold">2,592</h2>
                        <div class="progress progress-sm mt-0 mb-2">
                            <div class="progress-bar bg-secondary w-45" role="progressbar"></div>
                        </div>
                        <div class=""><i class="fa fa-caret-down text-danger"></i>12% than last year</div>
                    </div>
                </div>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Total Sales</h3>
                        <div class="card-options"> <a class="btn btn-sm btn-warning" href="#">View</a> </div>
                    </div>
                    <div class="card-body ">
                        <h2 class="text-dark  mt-0 font-weight-bold">3,517</h2>
                        <div class="progress progress-sm mt-0 mb-2">
                            <div class="progress-bar bg-warning w-50" role="progressbar"></div>
                        </div>
                        <div class=""><i class="fa fa-caret-down text-danger"></i>5% than last year</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Total Earnings</h3>
                        <div class="card-options"> <a class="btn btn-sm btn-info" href="#">View</a> </div>
                    </div>
                    <div class="card-body ">
                        <h2 class="text-dark  mt-0  font-weight-bold">$5,759</h2>
                        <div class="progress progress-sm mt-0 mb-2">
                            <div class="progress-bar bg-info w-25" role="progressbar"></div>
                        </div>
                        <div class=""><i class="fa fa-caret-up text-success"></i>15% than last year</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Last Year Overview</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="sales-status" class="chart-dropshadow"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Agents List</h3>
                    </div>
                    <div class="card-body">
                        <div class="activity">
                            <img src="{% static 'images/faces/male/24.jpg' %}" alt="" class="img-activity">
                            <div class="time-activity">
                                <div class="item-activity">
                                    <p class="mb-0"><b>Adam	Berry</b> Add Modren Houses <b> List</b></p>
                                    <small class="text-muted ">30 mins ago</small>
                                </div>
                            </div>
                            <img src="{% static 'images/faces/female/10.jpg' %}" alt="" class="img-activity">
                            <div class="time-activity">
                                <div class="item-activity">
                                    <p class="mb-0"><b>Irene Hunter</b> Add Farm Houses  <b>List</b></p>
                                    <small class="text-muted ">1 days ago</small>
                                </div>
                            </div>
                            <img src="{% static 'images/faces/male/4.jpg' %}" alt="" class="img-activity">
                            <div class="time-activity">
                                <div class="item-activity">
                                    <p class="mb-0"><b>John	Payne</b> Add new Offices <b>List</b></p>
                                    <small class="text-muted ">3 days ago</small>
                                </div>
                            </div>
                            <img src="{% static 'images/faces/male/4.jpg' %}" alt="" class="img-activity">
                            <div class="time-activity">
                                <div class="item-activity">
                                    <p class="mb-0"><b>John	Payne</b> Add new Offices <b>List</b></p>
                                    <small class="text-muted ">3 days ago</small>
                                </div>
                            </div>
                            <img src="{% static 'images/faces/female/8.jpg' %}" alt="" class="img-activity">
                            <div class="time-activity mb-0">
                                <div class="item-activity mb-0">
                                    <p class="mb-0"><b>Julia Hardacre</b> Add a new Deluxe  <b>Flats</b></p>
                                    <small class="text-muted ">5 days ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Clients Overview</h3>
                    </div>
                    <div class="card-body">
                        <div class="chats-wrap">
                            <div class="chat-details p-2">
                                <h6 class="mb-0">
                                    <span class="font-weight-normal">Good</span>
                                    <span class="float-right p-1">78%</span>
                                </h6>
                                <div class="progress progress-sm mt-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-35" ></div>
                                </div>
                            </div>
                            <div class="chat-details p-2">
                                <h6 class="mb-0">
                                    <span class="font-weight-normal">Satisfied</span>
                                    <span class="float-right p-1">82%</span>
                                </h6>
                                <div class="progress progress-sm mt-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-75"></div>
                                </div>
                            </div>
                            <div class="chat-details p-2">
                                <h6 class="mb-0">
                                    <span class="font-weight-normal">Excellent</span>
                                    <span class="float-right p-1">89%</span>
                                </h6>
                                <div class="progress progress-sm mt-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-65"></div>
                                </div>
                            </div>
                            <div class="chat-details p-2">
                                <h6 class="mb-0">
                                    <span class="font-weight-normal">Average</span>
                                    <span class="float-right p-1">40%</span>
                                </h6>
                                <div class="progress progress-sm mt-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-80"></div>
                                </div>
                            </div>
                            <div class="chat-details p-2">
                                <h6 class="mb-0">
                                    <span class="font-weight-normal">Unsatisfied</span>
                                    <span class="float-right p-1">20%</span>
                                </h6>
                                <div class="progress progress-sm mt-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-80"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="card">
                    <div class="arrow-ribbon bg-secondary">Sale</div>
                    <div class="item-card7-img">
                        <div class="item-card7-imgs">
                            <a href="realestate.html"></a>
                            <img src="{% static 'images/products/pictures/h1.jpg' %}" alt="img" class="cover-image">
                        </div>
                        <div class="item-card7-overlaytext">
                            <a href="realestate.html" class="text-white"> 2BHK House</a>
                            <span  class="mb-0">$389</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="item-card7-desc">
                            <a href="realestate.html" class="text-dark"><h4 class="font-weight-semibold">House for Sale</h4></a>
                        </div>
                        <div class="item-card7-text">
                            <ul class="icon-card mb-0">
                                <li class=""><a href="#" class="icons text-muted"><i class="icon icon-location-pin text-muted mr-1"></i>  Los Angles</a></li>
                                <li><a href="#" class="icons text-muted"><i class="icon icon-event text-muted mr-1"></i> 5 hours ago</a></li>
                                <li class="mb-0"><a href="#" class="icons text-muted"><i class="icon icon-user text-muted mr-1"></i> Sally Peake</a></li>
                                <li class="mb-0"><a href="#" class="icons text-muted"><i class="icon icon-phone text-muted mr-1"></i> 567 9876 087</a></li>
                            </ul>
                            <p class="mb-0">Quam velit quisquam veniam excepturi popular..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="card">
                    <div class="arrow-ribbon bg-primary">Rent</div>
                    <div class="item-card7-img">
                        <div class="item-card7-imgs">
                            <a href="#"></a>
                            <img src="{% static 'images/products/pictures/j2.jpg' %}" alt="img" class="cover-image">
                        </div>
                        <div class="item-card7-overlaytext">
                            <a href="#" class="text-white">Laxury Room</a>
                            <span  class="mb-0">$854</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="item-card7-desc">
                            <a href="#" class="text-dark"><h4 class="font-weight-semibold">Laxury Room for rent</h4></a>
                        </div>
                        <div class="item-card7-text">
                            <ul class="icon-card mb-0">
                                <li class=""><a href="#" class="icons text-muted"><i class="icon icon-location-pin text-muted mr-1"></i>  Los Angles</a></li>
                                <li><a href="#" class="icons text-muted"><i class="icon icon-event text-muted mr-1"></i> 5 hours ago</a></li>
                                <li class="mb-0"><a href="#" class="icons text-muted"><i class="icon icon-user text-muted mr-1"></i> Sally Peake</a></li>
                                <li class="mb-0"><a href="#" class="icons text-muted"><i class="icon icon-briefcase text-muted mr-1"></i>Beauty Span</a></li>
                            </ul>
                            <p class="mb-0">Quam velit quisquam veniam excepturi popular..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Todo List</h3>
                        <div class="card-options">
                            <a class="btn btn-sm btn-primary " href="#"><i class="fa fa-plus"></i> Add Task</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="custom-controls-stacked checklist-task">
                            <label class="custom-control custom-checkbox mb-3 checklist-desc">
                                <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                                <span class="custom-control-label">vero eos et accusamus et iusto odio dignissimos ducimus</span>
                                <span class="check-data d-flex mt-1">
                                    <span class="text-muted">Completed 2h ago</span>
                                    <span class="check-icon ml-auto">
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                    </span>
                                </span>
                            </label>
                            <label class="custom-control custom-checkbox mb-3 checklist-desc">
                                <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                <span class="custom-control-label"> et iusto odio dignissimos ducimus</span>
                                <span class="check-data d-flex mt-1">
                                    <span class="text-muted">Completed 8h ago</span>
                                    <span class="check-icon ml-auto">
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                    </span>
                                </span>
                            </label>
                            <label class="custom-control custom-checkbox mb-3 checklist-desc">
                                <input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3" checked="">
                                <span class="custom-control-label"> eos  accusamus  iusto odio dignissimos </span>
                                <span class="check-data d-flex mt-1">
                                    <span class="text-muted">Completed 4h ago</span>
                                    <span class="check-icon ml-auto">
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                    </span>
                                </span>
                            </label>
                            <label class="custom-control custom-checkbox checklist-desc">
                                <input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4">
                                <span class="custom-control-label">vet accusamus et iusto odio dignissimos </span>
                                <span class="check-data d-flex mt-1">
                                    <span class="text-muted">Completed 5h ago</span>
                                    <span class="check-icon ml-auto">
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                        <span class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Agents Team</div>
                    </div>
                    <div class="card-body">
                        <div class="ibox teams mb-30 bg-boxshadow">
                            <!-- Ibox Content -->
                            <div class="ibox-content teams">
                                <!-- Members -->
                                <div class="avatar-list avatar-list-stacked">
                                    <span class="avatar brround cover-image cover-image" data-image-src="{% static 'images/faces/female/12.jpg' %}" ></span>
                                    <span class="avatar brround cover-image cover-image" data-image-src="{% static 'images/faces/female/21.jpg' %}" ></span>
                                    <span class="avatar brround cover-image cover-image" data-image-src="{% static 'images/faces/female/29.jpg' %}"></span>
                                    <span class="avatar brround cover-image cover-image" data-image-src="{% static 'images/faces/female/2.jpg' %}"></span>
                                    <span class="avatar brround cover-image cover-image" data-image-src="{% static 'images/faces/male/34.jpg' %}"></span>
                                    <span class="avatar brround cover-image cover-image">+8</span>
                                </div>
                                <!-- Team Board Details -->
                                <div class="teams-board-details mt-3">
                                    <h4 class="font-weight-semibold">About Agents Team</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi. Contrary to popular belief, Lorem Ipsum is not simply random text classical Latin </p>
                                </div>
                                <!-- Progress Details -->
                                <span class="font-weight-semibold">Status of current properties:</span>
                                <div class="progress-details-teams mt-2 mb-4">
                                    <div class="stat-percent mb-2">58%</div>
                                    <div class="progress progress-sm ">
                                        <div class="progress-bar bg-primary w-50" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <div class="teams-rank text-muted">Homes</div>
                                        <span>180</span>
                                    </div>
                                    <div class="col-4">
                                        <div class="teams-rank text-muted">Apartments</div>
                                        <span>1200</span>
                                    </div>
                                    <div class="col-4">
                                        <div class="teams-rank text-muted">BUDGET</div>
                                        <span>$36,25,854</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}