
{% extends 'dashboard/base.html' %}

{%block content%}

				<!--App-Content-->
				<div class="app-content  my-3 my-md-5">
					<div class="side-app">

						<!-- Page-Header-->
						<div class="page-header">
							<h4 class="page-title">Dashboard</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home Page</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol>
						</div>
						<!-- /Page-Header-->

						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
								<div class="card overflow-hidden">
									<div class="card-header">
										<h3 class="card-title">Total Visits</h3>
										<div class="card-options"> <a class="btn btn-sm btn-primary" href="#">View</a> </div>
									</div>
									<div class="card-body ">
										<h2 class="text-dark  mt-0 font-weight-bold">92</h2>
										<div class="progress progress-sm mt-0 mb-2">
											<div class="progress-bar bg-primary w-75" role="progressbar"></div>
										</div>
										<div class=""><i class="fa fa-caret-up text-green"></i>10% than last year</div>
									</div>
								</div>
							</div>
							<div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
								<div class="card overflow-hidden">
									<div class="card-header">
										<h3 class="card-title">Monthly Visits</h3>
										<div class="card-options"> <a class="btn btn-sm btn-secondary" href="#">View</a> </div>
									</div>
									<div class="card-body ">
										<h2 class="text-dark  mt-0 font-weight-bold">40</h2>
										<div class="progress progress-sm mt-0 mb-2">
											<div class="progress-bar bg-secondary w-45" role="progressbar"></div>
										</div>
										<div class=""><i class="fa fa-caret-down text-danger"></i>12% than last year</div>
									</div>
								</div>
							</div>
							<div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
								<div class="card overflow-hidden">
									<div class="card-header">
										<h3 class="card-title">Users</h3>
										<div class="card-options"> <a class="btn btn-sm btn-warning" href="#">View</a> </div>
									</div>
									<div class="card-body ">
										<h2 class="text-dark  mt-0 font-weight-bold">3
											
										</h2>
										<div class="progress progress-sm mt-0 mb-2">
											<div class="progress-bar bg-warning w-50" role="progressbar"></div>
										</div>
										<div class=""><i class="fa fa-caret-down text-danger"></i>5% than last year</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
								<div class="card overflow-hidden">
									<div class="card-header">
										<h3 class="card-title">Session Duration</h3>
										<div class="card-options"> <a class="btn btn-sm btn-info" href="#">View</a> </div>
									</div>
									<div class="card-body ">
										<h2 class="text-dark  mt-0  font-weight-bold">56</h2>
										<div class="progress progress-sm mt-0 mb-2">
											<div class="progress-bar bg-info w-25" role="progressbar"></div>
										</div>
										<div class=""><i class="fa fa-caret-up text-success"></i>Date</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		

{%endblock content%}